




<div class="content-body content-body-full" >


<div class="row" style="height:100%">

<div class="col s12 m5" style="height:100%;background: #f1f1f1;padding:0px;">
<div style="height:100vh;border-right:1px solid #ccc;position:relative;">
<div style="height:50px;background: #fff;">



<span class="page-heading-link" style="">Contacts</span>





</div>

<div style="background: #e0e0e0;padding:10px;">
<input type="text" placeholder="Search" class="search-box-1" data-ng-model="query"  />
</div>
<div style="position:absolute;top:104px;left:0px;right:0px;bottom:0px;overflow: auto;">
<ul class="col2-list contactlist" data-ng-repeat="o in dataList | filter:query  ">

<li><a  data-ng-class="checkActive(o)"  data-ng-click="selectContact(o)" data-uuid="{{o.uuid}}"><span class="title">{{o.first_name + ' '+o.last_name}}</span></a></li>

</ul>
</div>

</div>
</div>
<div class="col s12 m7" style="height:100%;padding:0px;">
<contact-details contact="selectedContact" ></contact-details>

</div>


</div>


</div>






<script type="text/javascript">

$(document).ready(function(){
	 $('ul.tabs').tabs();
});

</script>

