




<div class="content-body content-body-full" >


<div class="row" style="height:100%">

<div class="col s12 m5" style="height:100%;background: #f1f1f1;padding:0px;">
<div style="height:100vh;border-right:1px solid #ccc;position:relative;">
<div style="height:50px;background: #fff;">
<span style="font-size:24px;color:#131516;margin:6px 10px;display:inline-block;">Leads</span>


<a data-target="lead-form-popup" modal class="add-btn-plus" style="" open="openModalFlag" ng-click="openNewLeadPopup()" >+</a>


<div id="data-sorter"  class="sort-btn"><i class="fa fa-sliders"></i>
<div  class="data-sort-options">
<div >
<h5>Sort By</h5>
<ul>
      <li><a ng-click="sortData('topic')" ng-class="('topic'==sortOrder)?'selected':''">Topic</a></li>
      <li><a ng-click="sortData('contact.account.name')"   ng-class="('contact.account.name'==sortOrder)?'selected':''">Account</a></li>
</ul>
<h5>Show</h5>
<ul>
      <li><a  ng-click="filterData('all')"    ng-class="('all'==filterGroup)?'selected':''" >All</a></li>
      <li><a ng-click="filterData('new')"    ng-class="('new'==filterGroup)?'selected':''" >New</a></li>
      <li><a ng-click="filterData('evaluation')"    ng-class="('evaluation'==filterGroup)?'selected':''" >Evaluation</a></li>
      <li><a ng-click="filterData('qualified')"    ng-class="('qualified'==filterGroup)?'selected':''">Qualified</a></li>
      <li><a ng-click="filterData('disqualified')"    ng-class="('disqualified'==filterGroup)?'selected':''">Disqualified</a></li>
</ul>


</div>
</div>
</div>

</div>

<div style="background: #e0e0e0;padding:10px;">
<input type="text" placeholder="Search" class="search-box-1" data-ng-model="query"  />
</div>
<div style="position:absolute;top:104px;left:0px;right:0px;bottom:0px;overflow: auto;">
<ul class="col2-list" data-ng-repeat="o in dataList | filter:query  ">

<li><a  data-ng-class="checkActive(o)"  data-ng-click="select($event,o)" data-uuid="{{o.uuid}}"><span class="title">{{o.topic}}</span><span class="desc">{{o.contact.account.name}}</span></a></li>

</ul>
</div>

</div>
</div>
<div class="col s12 m7" style="height:100%;padding:0px;">
<lead-details itemid="selectedId" ></lead-details>

</div>


</div>


</div>



<div id="lead-form-popup" class="modal">
<div class="modal-content">
      
      <lead-form item="1"></lead-form>
      
                </div>
</div>


<div id="data-sort-options">
<a>Fresh</a><br />
<a>Verified</a>
</div>



<script type="text/javascript">

$(document).ready(function(){

	
	 $('ul.tabs').tabs();
	
});

</script>

