


<div class="content-header" style="padding:5px;">

<div  style="margin-bottom:0px;">

<span style="font-size:24px;color:#131516;margin:6px 10px;display:inline-block;">Active Bids</span>







<h5 style="display:block;float:right;margin-right:10px;">Total : ${{ commonUtil.ftmNumber( sum['offerability']+sum['solutioning']+sum['pricing']+sum['proposal'])}}</h5>

</div>
</div>




<div class="content-body " style="background: #f1f1f1;" >
<div style="height:100%;width:100%;">
<div class="row" style="margin-top:10px;height:100%;">
<div class="col s12" id="pipelineTable" style="height:100%;">
<div class="row flat-row" style="height:100%;">
<div class="col s3 offerability-summary" style="height:100%;position: relative;">
<div class="step-header" >
<div class="step-arrow curve-left">
<a >
<span class="title">Offerability</span><span class="count">({{bids['offerability'].length}})</span>
</a>
</div>
<span class="est-revenue">${{commonUtil.ftmNumber(sum['offerability'])}}</span>
</div>

<div class="step-body" style="position: absolute;top:80px;left:0px;right:0px;bottom:0px;overflow: auto;">
<div class="op-card" ng-repeat="bid in bids['offerability']">
<div class="account">{{bid.account}}</div>
<div class="title">{{bid.topic}}</div>
<div class="est-revenue">${{bid.value}}</div>
</div>
</div>

</div>

<div class="col s3 solutioning-summary" style="height:100%;position: relative;">
<div class="step-header">
<div class="step-arrow left-end">
<a >
<span class="title">Solutioning</span><span class="count">({{bids['solutioning'].length}})</span>
</a></div>
<span class="est-revenue">${{commonUtil.ftmNumber(sum['solutioning'])}}</span>
</div>
<div class="step-body"  style="position: absolute;top:80px;left:0px;right:0px;bottom:0px;overflow: auto;">
<div class="op-card" ng-repeat="bid in bids['solutioning']">
<div class="account">{{bid.account}}</div>
<div class="title">{{bid.topic}}</div>
<div class="est-revenue">${{bid.value}}</div>
</div>

</div>
</div>

<div class="col s3 pricing-summary"  style="height:100%;position: relative;">
<div class="step-header">
<div class="step-arrow left-end">
<a >
<span class="title">Pricing</span><span class="count">({{bids['pricing'].length}})</span>
</a>
</div>
<span class="est-revenue">${{commonUtil.ftmNumber(sum['pricing'])}}</span>
</div>
<div class="step-body"  style="position: absolute;top:80px;left:0px;right:0px;bottom:0px;overflow: auto;">

<div class="op-card" ng-repeat="bid in bids['pricing']">
<div class="account">{{bid.account}}</div>
<div class="title">{{bid.topic}}</div>
<div class="est-revenue">${{bid.value}}</div>
</div>

</div>
</div>

<div class="col s3 proposal-summary"  style="height:100%;position: relative;">
<div class="step-header">
<div class="step-arrow left-end curve-right">
<a >
<span class="title">Proposal</span><span class="count">({{bids['proposal'].length}})</span>
</a>
</div>
<span class="est-revenue">${{commonUtil.ftmNumber(sum['proposal'])}}</span>
</div>
<div class="step-body"  style="position: absolute;top:80px;left:0px;right:0px;bottom:0px;overflow: auto;">

<div class="op-card" ng-repeat="bid in bids['proposal']">
<div class="account">{{bid.account}}</div>
<div class="title">{{bid.topic}}</div>
<div class="est-revenue">${{bid.value}}</div>
</div>


</div>
</div>



</div>








</div>

</div>

</div>
</div>












